<html>
<body>
  <h2> Add Item </h2>
<ul>
  <form action="" method="post" name="form">
    <div>
      <label for="name">Brand:</label>
      <input type="text" name="brand" id="brand">
    </div>
    <div>
      <label for="product_type":>Product Type:</label>
      <input type="text" name="product_type" id="product_type">
    </div>
    <div>
      <label for="price">Price</label>
      <input type="text" name="price" id="price">
    </div>
    <div></div>
    <input type="submit" name="submit" id="submit">
  </form>
</ul>
</body>
</html>
