<html>
<title>ADMIN: Add Item </title>
<link href="{{url_for('static', filename='css/bootstrap.min.css') }}"
rel="stylesheet" />
<script>
function validateForm()
{
  var brand = document.forms["form"]["brand"].value;
  if (brand == "")
  {
    alert("Brand must be input")
    return false;
  }
}
</script>
<body>
  <h2> Add Item </h2>
  <h4>As the administrator, you can add new products to the website</h4>
<ul>
  <form action="" method="post" onsubmit="return validateForm()"  name="form">
    <div>
      <label for="brand">Brand:</label>
      <input type="text" name="brand" id="brand">
    </div>
    <div>
      <label for"product_name">Product Name:</label>
      <input type="text" name="product_name" id="brand">
    </div>
    <div>
      <label for="product_type">Product Type:</label>
      <input type="text" name="product_type" id="product_type">
    </div>
    <div>
        <label for="colour">Colour:</label>
        <input type="text" name="colour" id="product_type">
        </div>
    <div>
      <label for="price">Price</label>
      <input type="text" name="price" id="price">
      </div>
     <input type="file" name="datafile">
  <div>
    <div></div>
    <input type="submit" name="submit" id="submit">
  </form>
</ul>
<h5><a href="/admin/">Return to Admin View</a></h5>
<h5><a href="/admin/all">All Items</a></h5>
</body>
</html>
