<html>
<head>
 <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
 <link rel="stylesheet" href="static/css/header.css">
</head>
<script>
function validateForm(){
    var x = document.forms["form"]["name"].value;
    if (x == "" || x ==" ")
    {
      alert("Name must be filled out")
      return false;
    }
    var y = document.forms["form"]["email"].value;
    if(y == "")
    {
      alert("Email must be filled out")
      return false;
    }
    var z = document.forms["form"]["message"].value;
    if(z == "")
    {
      alert("Address must be filled out")
      return false;
    }
}
</script>
<body>
 <h1><a href="/"> Foundation</a></h1>
<nav class="container">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"> 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-center">
        <li class="dropdown">
          <a href="/brands/" class="dropdown-toggle" data-toggle="dropdown">Brands <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="brands/Adidas">Adidas</a></li>
            <li><a href="brands/Nike">Nike</a></li>
            <li><a href="brands/Stussy">Stussy</a></li>
          </ul>
        </li>
      <li class="dropdown">
      <a href="/latest/" class="dropdown-toggle" data-toggle="dropdown">Latest <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a><li>
        <li><a href="#">Something</a></li>
      </ul>
    </li>
    <li>
    <a href="/admin/">Log In</a>
    </ul>
    </li>
  </ul>
  </div>
</div>
</nav>
</div>
      {% block content %} {% endblock %} 
      </body>
</html>

